@using DevCamp.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="row">
        <img class="col-2" src="https://pbs.twimg.com/profile_images/2515153348/gs70hi4z6baxbm9tmlww.jpeg" />
        <img class="col-2" src="https://clef2017.clef-initiative.eu/clef2017clefinitiativeeu/images/icons/ldIn_icon.png" />
        <img class="col-2" src="https://hotelspa-terma.com/assets/fe/images/logo_new.png" />
        <img class="col-2" src="https://image.shutterstock.com/image-vector/classy-z-za-vintage-letter-260nw-1618851295.jpg" />
        <img class="col-2" src="https://assets.biggreenegg.eu/app/uploads/2018/06/28115815/topimage-pizza-special17-800x500.jpg" />
        <img class="col-2" src="http://avtopregled.com/wp-content/uploads/2016/02/gtp-taxi-plovdiv.png" />
    </div>
</div>
