@using DevCamp.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1 row-cols-sm-6 ">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">It</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Home</a>
            </li>
        </ul>
    </div>
</nav>

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
