@model DevCamp.Web.ViewModels.Listings.ListingCreateInputModel

@{       
    this.ViewData["Title"] = "Create Gig";
    var sectors = Model.Sectors.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<div class="p-4">
    <div class="text-center">
        <h1 class="text-black-50">Create Gig!</h1>
    </div>
    <form class="user text-center text-white-50" method="post">
        <div class="form-group was-validated">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control form-control-user text-center" placeholder="Title" required>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group was-validated">
            <label asp-for="SectorId"></label>
            <select asp-for="SectorId" asp-items="sectors" id="SectorSelect" onchange="SelectCategory()" class="form-control rounded-pill custom-select myselect" required>
                <option value="" disabled selected>Select Category</option>
            </select>
            <span asp-validation-for="SectorId" class="text-danger"></span>
        </div>
        <div id="CategoriesInput"></div>
        <div id="SubCategoriesInput"></div>
        <div class="form-group was-validated">
            <label asp-for="ProjectDetails"></label>
            <textarea asp-for="ProjectDetails" class="form-control" rows="5" required></textarea>
            <span asp-validation-for="ProjectDetails" class="text-danger"></span>
        </div>
        
        <hr />
        <button type="submit" class="btn btn-success btn-user btn-block">
            Create
        </button>
    </form>
</div>                        

@section Scripts{ 
      <script src="~/js/Custom/AddLanguage.js" asp-append-version="true"></script>
}