@model DevCamp.Web.ViewModels.Listings.EditTitleInputModel


<div>
    <form method="post" asp-controller="Listings" asp-action="EditTitle">
        <div class="form-group was-validated">
            <textarea asp-for="@Model.Title" class="form-control" rows="5" required></textarea>
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        <hr />
        <input hidden asp-for="@Model.Id" />
        <button type="submit" class="btn btn-success btn-user btn-block">
            Create
        </button>
    </form>
</div>


