@model DevCamp.Web.ViewModels.Listings.ListingCreateInputModel

@{
    var categories = Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<div class="form-group was-validated">
    <label asp-for="CategoryId"></label>
    <select asp-for="CategoryId" asp-items="categories" id="categorySelect" onchange="SelectSubCategory()" class="form-control rounded-pill custom-select myselect" required>
        <option value="" disabled selected>Select Category</option>
    </select>
    <span asp-validation-for="CategoryId" class="text-danger"></span>
</div>

