<div>Edit Description</div>
<div class="col-4">
    <form>
        <textarea rows="5"></textarea>
        <hr />
        <div class="row">
            <a class="col btn btn-light border">Cancel</a>
            <a class="col btn btn-success ms-3 border" asp-action="EditDescription" asp-controller="Users">Update</a>
        </div>
    </form>
</div>

