@model DevCamp.Web.ViewModels.Users.EditLocationInputModel

@{ 
    var countries = Model.Countries.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<div>
    <form method="post" asp-controller="Users" asp-action="EditLocation">
        <div class="form-group was-validated">
            <select asp-for="CountryId" asp-items="countries" class="form-control rounded-pill custom-select myselect" required>
                <option value="" disabled selected>Select Country</option>
            </select>
        </div>
        <input asp-for="UserId" hidden />
        <button type="submit" class="btn btn-success btn-user btn-block">
            Create
        </button>
    </form>
</div>