@model DevCamp.Web.ViewModels.Certifications.CertificationCreateInputModel

@{ 
    var years = Model.Years.Select(x => new SelectListItem(x.ToString(), x.ToString()));
}

<div>
    <form method="post" asp-controller="Certifications" asp-action="AddCertification">
        <div class="form-group was-validated">
            <label asp-for="Certificate"></label>
            <input asp-for="Certificate" class="form-control form-control-user text-center" placeholder="Certificate or Award" required>
            <span asp-validation-for="Certificate" class="text-danger"></span>
        </div>
        <div class="form-group was-validated">
            <label asp-for="CertifiedFrom"></label>
            <input asp-for="CertifiedFrom" class="form-control form-control-user text-center" placeholder="Certified From" required>
            <span asp-validation-for="CertifiedFrom" class="text-danger"></span>
        </div>
        <div class="form-group was-validated">
            <select asp-for="Year" asp-items="years" class="form-control rounded-pill custom-select myselect" required>
                <option value="" disabled selected>Select Year of certification</option>
            </select>
        </div>
        <input asp-for="UserId" hidden />
        <button type="submit" class="btn btn-success btn-user btn-block">
            Create
        </button>
    </form>
</div>