@model DevCamp.Web.ViewModels.Educations.EducationCreateInputModel

@{
    var years = Model.Years.Select(x => new SelectListItem(x.ToString(), x.ToString()));
    var countries = Model.Countries.Select(x => new SelectListItem(x.Name, x.Name));
    var titles = Model.Titles.Select(x => new SelectListItem(x.ToString(), x.ToString()));
}

<div>
    <form method="post" asp-controller="Educations" asp-action="AddEducation">
        <div class="form-group was-validated">
            <select asp-for="UniversityLocation" asp-items="countries" class="form-control rounded-pill custom-select myselect" required>
                <option value="" disabled selected>Country of College/University</option>
            </select>
        </div>
        <div class="form-group was-validated">
            <label asp-for="UniversityName"></label>
            <input asp-for="UniversityName" class="form-control form-control-user text-center" placeholder="College/University Name" required>
            <span asp-validation-for="UniversityName" class="text-danger"></span>
        </div>
        <div class="form-group was-validated">
            <select asp-for="Title" asp-items="titles" class="form-control rounded-pill custom-select myselect" required>
                <option value="" disabled selected>Title</option>
            </select>
        </div>
        <div class="form-group was-validated">
            <label asp-for="Major"></label>
            <input asp-for="Major" class="form-control form-control-user text-center" placeholder="Major" required>
            <span asp-validation-for="Major" class="text-danger"></span>
        </div>
        <div class="form-group was-validated">
            <select asp-for="GraduationYear" asp-items="years" class="form-control rounded-pill custom-select myselect" required>
                <option value="" disabled selected>Year of graduation</option>
            </select>
        </div>
        <input asp-for="UserId" hidden />
        <button type="submit" class="btn btn-success btn-user btn-block">
            Create
        </button>
    </form>
</div>