@using DevCamp.Common
@using DevCamp.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
     @if (this.SignInManager.IsSignedIn(this.User))
      {
           <li class="nav-item">
               <div class="dropdown dropstart">
                       <img class="rounded-circle" role="button" id="dropdownMenuLink" style="height:30px;width:30px;" src="https://zelensviat.com/wp-content/uploads/2019/03/410527-1200x900.jpg"
                            data-holder-rendered="true" data-bs-toggle="dropdown" aria-expanded="false">

                       <ul class="dropdown-menu mt-5" style="z-index:5000;" aria-labelledby="dropdownMenuLink">
                           <li><a class="dropdown-item" asp-controller="Users" asp-action="Profile">Profile</a></li>
                           <li><a class="dropdown-item">Dashboard</a></li>
                           <li><a class="dropdown-item">Manage Requests</a></li>
                           <li><a class="dropdown-item">Post a Request</a></li>
                           <li><a class="dropdown-item">Become a Seller</a></li>
                           <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Settings</a></li>
                           <li><a class="dropdown-item" href="#">Help & Support</a></li>
                           <li class="nav-item">
                               <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                                   <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                               </form>
                           </li>
                       </ul>
               </div>
               
           </li>


        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }
        
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
